%p
  こんにちは #{@email}!
- if @resource.try(:unconfirmed_email?)
  %p
    さくらマーケットのアカウントのメールアドレスが #{@resource.unconfirmed_email} に変更されています。
- else
  %p
    さくらマーケットのアカウントのメールアドレスが #{@resource.email} に変更されました。
