%p
  こんにちは #{@resource.email}!
%p 以下のリンクから、さくらマーケットに登録しているアカウントのパスワードを変更できます。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p もしあなたがパスワードリセットを要求していない場合は、このメールを無視してください。
%p 上記リンクをクリックして新しいパスワードを発行しない限り、パスワードは変更されません。
