- content_for :content do
  .col-md-3.sidebar
    .panel.panel-default
      .panel-heading 
        Menu
      .panel-body
        .collapse.navbar-collapse
        %ul.nav.navbar-sidebar
          %li= link_to '商品管理', admin_items_path
          %li= link_to 'ユーザー管理', admin_users_path
  .col-md-9
    = yield
= render template: 'layouts/application'
